.center {
    text-align: center;
}

.bgh {
    /* The image used */
    background-image: url(img/Website-Design-Background.png);
    /* Full height */
    height: auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

@media only screen and (max-device-width: 1024px) {
    .bgh {
        background-attachment: scroll;
    }
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  text-align: center;
    color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}