.center {
    text-align: center;
}

.bgh {
    /* The image used */
  background: rgb(30, 30, 30);
      
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

@media only screen and (max-device-width: 1024px) {
    .bgh {
        background-attachment: scroll;
    }
}
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  text-align: center;
    color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}
.text-color-g{color: rgb(0, 188, 0)}
.text-color-y{color: rgb(252, 238, 0)}