 #Mdi{ position: absolute;top: auto; right: auto; width: 433px; height: 406;}

.SeN-BC-re{ border: 1px solid #ff0000;}
.SeN-BC-or{ border: 1px solid #ff9200;}
.SeN-BC-yl{ border: 1px solid #fff900;}
.SeN-BC-gre{ border: 1px solid #1ca700;}
.SeN-BC-gra{ border: 1px solid #7e7e7e;}
.SeN-BC-cy{ border: 1px solid #00d6de;}
.SeN-BC-bl{ border: 1px solid #0090ff;}
.SeN-BC-pu{ border: 1px solid #6d00de;}
.SeN-BC-nel{ border: 1px solid #0024de;}
.SeN-BC-bla{ border: 1px solid #000000;}
.SeN-BC-wi{ border: 1px solid #ffffff;}

.tex{ width: 30px; height: 10px;  }
.result{ widows:90px;height: auto;position: absolute; bottom: 10px; left: 50%; background-color:#e3e8f2;}

.buttom{position: absolute;  width: 90px; height: auto; background-color:#e3e8f2; text-align: center; }

.tips{text-align: center; position: absolute;bottom:50px;left: 50%;}
   
 

   
    




