

a:link {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

.text-color-white {
    color: #ffffff;
}

a:hover {}footer{
   background-color:   #333333;
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}
#td2:hover{
    cursor: pointer;
    background-color:rgba(0, 91, 148,0.3);
    border-radius: 100px;
   transition: 1s;
}
#td1:hover{
    cursor: pointer;
    background-color:rgba(226, 240, 33,0.3);
    border-radius: 100px;
   transition: 1s;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
#color-g{
background-color: #808080;
    height: 1٥0px;
    font-size: 36px;
}
table {margin: auto;}
.center{
    text-align: center;
}
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background: rgb(30, 30, 30) ;

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
   
}
.test{ opacity: 0.5;
    filter: alpha(opacity=50);}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}