.color-white{
    color: white;
}
.center{
    text-align: center;
}
.hg {
    /* The image used */
    background-image: url(../img/pattern_background_band_space_65997_3840x2160.jpg);
    /* Full height */
    height:auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

@media only screen and (max-device-width: 1024px) {
    .hg {
        background-attachment: scroll;
    }
}
