#result {
    width: 200px;
    height: 20px;

    bottom: 10px;
    left: 50px;
    background-color: #e3e8f2;
}

.buttom {
    width: 210px;
    height: 30px;
    background-color: #e3e8f2;
    text-align: center;
}

.buttom:hover {
    background-color: rgb(100, 100, 100);
    color: white;
}

.tips {
    text-align: center;
    bottom: 85px;
    left: 40%;
}

#res-div {
    position: relative;
    left: 30px;
    bottom: 10px;
    width: 250px;
    text-align: left;
    height: 30px;
}

#sal-div {
    position: relative;
    top: 40px;
    left: 100px;
    width: 300px;
    height: 40px;
}

#eq {
    position: absolute;
    top: 47px;
    left: 155px;
}

#trkez {
    position: absolute;
    top: 65px;
    left: 203px;
}

#ph {
    position: absolute;
    top: 65px;
    left: 113px;
}

#log {
    position: absolute;
    top: 47px;
    left: 173px;
}

#Mdi {
    position: relative;
    top: 50%;
    right: 100px;
    width: 333px;
    height: 300px;
}

.color-white{
    color: white;
}
.center{
    text-align: center;
}
.hg {
    background: 
        rgb(30, 30, 30);
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
/*
@media only screen and (max-device-width: 1024px) {
    .hg {
        background-attachment: scroll;
    }
}
*/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  text-align: center;
    color: white;
}
.a:link {
    text-decoration: none;
}

.a:visited {
    color: #ffffff;
    text-decoration: none;
}
