.color-white {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: pink;
    text-decoration: none;
}

.text-color-white {
    color: pink;
}

a:hover {
    color: blue;
}

.center {
    text-align: center;
}

.hg {
    /* The image used */
    background-image: url(../img/j0PLI7n.jpg);
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

@media only screen and (max-device-width: 1024px) {
    .hg {
        background-attachment: scroll;
    }
}
