<!DOCTYPE html>
<html lang="SA-ar">
    <head>
                <msta charset="utf8" />
        <title>Simple title</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

    </head>
    <body ng-app>
        <input type="number" ng-model="number1" />
        <input type="number" ng-model="number2" />
        <input type="number" value="{{number1 + number2}}" disabled="true" />
        <h1>this example for angularJS you can learn it from new baghdad in youtube take 30min and make your work easy</h1>
    </body>
</html>